/*Global background styling*/

html {
  background-color: #cad2d3;
}

body {
  background: url(../background-world-map.jpg) no-repeat center 30px;
  background-size: 100%;
  background-color: #cad2d3;
}

#main {
  background-color: #cad2d3;
}

/*End of global background styling*/

/*Nav bar styling*/

* {
  font-family: 'Lato', sans-serif;
}

nav {
  z-index: 999;
}

.navbar-default .navbar-nav>li>a {
  font-size: 20px;
}


.lingo-blue {
  color: rgba(0, 130, 230, 1);
}

#title {
  h1 {
    font-weight: 600;

  }
}

#change-username-form {
    width: 280px;
}

#language-list {
  margin-bottom: 20px;

  a {
    cursor: pointer;
  }

  .dropdown-menu {
    margin-bottom: 20px;
  }
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  font-size: 35px;
}

/*End of nav bar styling*/


/***************** Start of map styling *****************/
#map {
  position:absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom:0;
  width:100%;
  z-index: 1;
}

#country-buttons {
  position: absolute;
  right: 5vw;
  bottom: 12vh;
  z-index: 99;
  line-height: 15px;
}

#fit-america:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#fit-america {
  display: inline-block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #9370DB;
}

#fit-spain:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#fit-spain {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FFA07A;
}

#fit-china:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#fit-china {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FF4500;
}

#fit-france:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#fit-france {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #00BFFF;
}

#fit-korea:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#fit-korea {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FF0000;
}

#zoomout:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#zoomout {
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: grey;
}

/*************************map marker styling************************/

.leaflet-container {
  background-color: #cad2d3;

  img.leaflet-marker-icon {
    -webkit-animation-name: hvr-icon-down;
    animation-name: hvr-icon-down;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/***************** start of chat box (socket) styling *****************/

#chatbox-body {
  width: 90%;
  height: auto;
  margin: 0 auto 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  background-color: white;
  padding: 20px;

    h2 {
      display: block;
      text-align: center;
    }
}

#chatbox-body h1 {
  font-size: 50px;
  text-align: center;
  padding-bottom: 10px;
}

#conversation-container {
  overflow-y: scroll;
  border: 1px solid #ddd;
  height: 300px;
  border-radius: 5px;
  padding: 30px;
  font-size: 1.4em;

  ul {
    list-style-type: none;
    padding: 0;
  }
}


#buttons-wrapper {
  position: relative;
}

#start-broadcasting {
  position: absolute;
  z-index: 49;
  padding: 30px;
  margin-bottom: -30px;
  margin-left: 10%;
  width: 80%;
  top: 30px;
}

#join-broadcast {
  position: absolute;
  z-index: 50;
  padding: 30px;
  margin-bottom: -30px;
  margin-top: 0;
  margin-left: 10%;
  width: 80%;
  top: 30px;
  display: none;
}

#rooms-list {
  position: absolute;
  top: 0;
  z-index: 50;
}

#videochat-wrapper {
  position: relative;
  padding-bottom: 75%;
  margin-top: 37px;
}

#videos-container-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

#videos-container {
  position: relative;
  padding-bottom: 75%;

  video:nth-child(1) {
    width: 100%;
    position: absolute;
    z-index: 51;
  }
  video:nth-child(2) {
    width: 30%;
    position: absolute;
    z-index: 52;
    left: 0;
    bottom: 1px;
  }
}

#subtitles {
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-size: 1.6em;
  display: block;
}

.help-block {
  padding: 0;
}

.message_form {
  .btn-wrapper {
    padding: 0;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
  }
}

/*.users {
  float : right;
  border: 3px solid black;
  width: 100%;
  height: 50vh;
}

.users h3 {
  text-align: center;
  font-size: 25px;
  color: black;
}

.users li {
  font-size: 20px;
  border: none;
  list-style: none;
}

.users li:hover {
  font-size: 200%;
  cursor: pointer;
}

.users img {
  margin-right: 20px;
}

.messages {
  width: 100%;
  border : 5px solid black;
  padding: 1em;
  height: 50vh;
  overflow: scroll;
  background-color: #F0F8FF;
}

.messages h2 {
  margin-top: -5px;
  font-size: 25px;
  display: block;
}

.message {
  font-size: 20px;
  color: black;
}

.change_name_form {
  width: 100%;
}

.message_form {
  width: 100%;
}

.message_form input {
  font-size: 20px;
  width: 100%;
  height: 5vh;
  border: 3px solid black;
  color: black;
}

.message_form h3 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.change_name_form input {
  font-size: 20px;
  height: 5vh;
  width: 100%;
  border: 3px solid black;
  color: black;
}

.change_name_form h3 {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
*/
// ***************** end of chat box (socket) styling *****************


// ***************** start of main styling *****************

/*main {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  // background-color: lightgray;
  z-index: 1;
}
*/
// ***************** end of main styling *****************


// ***************** start of LanguageMessage modal styling *****************

#language-message {
  // position: absolute;
  // top: 50vh;
  // left: 50vw;
  // right: 0;
  // bottom:0;
  z-index: 100;
}

.ReactModal__Content--after-open {
  z-index: 99;
}

.ReactModal__Content {
  height: 500px;
}


.ReactModal__Overlay {
  z-index: 100;
}

/***************** end of LanguageMessage modal styling *****************

/**************************************************Drop down menu start*****/
/*.dropdown {
    position: absolute;
    margin-left: -130px;
    margin-top: 40px;
    width: 500px;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

#dropDown-title {
  font-size: 25px;
  color: black;
  border: 3px solid black;
  background-color: lightGrey;
}

#dropDown-title {
    text-decoration: none;
    position: absolute;
    font-size: 30px;
    color: black;
    border: 3px solid black;
    background-color: lightGrey;
    width: 350px;
    margin-left: -30px;
    height: 50px;
    width: 380px;
    padding-top: 15px;
}

#dropDown-content ul {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  position: absolute;
  margin-left: 300px;
  margin-top: 50px;
}

#dropDown-content ul li {
  border: 1px solid black;
  width: 380px;
  margin-left: -120px;
}

#dropDown-content ul li a{
  color: black;
  cursor: pointer;
}

#dropDown-content ul li a:hover {
  text-decoration: none;
  color: blue;
}

#dropDown-content ul li:hover {
  color: blue;
  cursor: pointer;
}*/


/************************** start fo Speech recognition **************************/

a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
}
a:hover {
  color:#33F;
}
.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}
.center {
  padding: 10px;
  text-align: center;
}
.final {
  color: black;
  padding-right: 3px;
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}
#headline {
  font-size: 40px;
  font-weight: 300;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}
#results {
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  min-height: 100px;
  border-radius: 5px;
}
#start_button {
  border: 0;
  background-color:transparent;
  padding: 25px 15px;
}

/************************* start fo Speech recognition *************************

/************************** start fo Instruction Message **************************/
.swal-div {
  color: black;
}

#instruction-submit-button:hover {
  background-color: white;
}

/************************** start of country transition ***********************/


.countryTransition-appear {
 opacity: 0.01;
}

.countryTransition-appear.countryTransition-appear-active {
 opacity: 1;
 transition: opacity .5s ease-in;
}

.countryTransitionMsg {
  position: absolute;
  top: 40%;
  left: 32%;
  z-index: 99;
}

.countryTransitionMsg h1 {
  color: #0082e6;
  font-family: 'Lato', sans-serif;
}

/***************************** end of country transition *********************/
