/*Global background styling*/
html {
  background-color: #cad2d3; }

body {
  background: url(../background-world-map.jpg) no-repeat center 30px;
  background-size: 100%;
  background-color: #cad2d3; }

#main {
  background-color: #cad2d3; }

/*End of global background styling*/
/*Nav bar styling*/
* {
  font-family: 'Lato', sans-serif; }

nav {
  z-index: 999; }

.navbar-default .navbar-nav > li > a {
  font-size: 20px; }

.lingo-blue {
  color: #0082e6; }

#title h1 {
  font-weight: 600; }

#change-username-form {
  width: 280px; }

#language-list {
  margin-bottom: 20px; }
  #language-list .dropdown-menu {
    margin-bottom: 20px; }
  #language-list .dropdown-submenu a {
    cursor: pointer; }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  font-size: 35px; }

/*End of nav bar styling*/
/***************** Start of map styling *****************/
#map {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1; }

#country-buttons {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  z-index: 99; }

#fit-america:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#fit-america {
  display: inline-block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #9370DB; }

#fit-spain:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#fit-spain {
  display: block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FFA07A; }

#fit-china:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#fit-china {
  display: block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FF4500; }

#fit-france:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#fit-france {
  display: block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #00BFFF; }

#fit-korea:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#fit-korea {
  display: block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: #FF0000; }

#zoomout:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#zoomout {
  display: block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  background: grey; }

/*************************map marker styling************************/
.leaflet-container img.leaflet-marker-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

/***************** start of chat box (socket) styling *****************/
#chatbox-body {
  width: 90%;
  /*height: 900px;*/
  margin: 0 auto 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  position: relative;
  z-index: 99;
  background-color: white;
  padding: 20px; }
  #chatbox-body h2 {
    display: block;
    text-align: center; }

#conversation-container {
  border: 1px solid #ddd;
  min-height: 400px;
  height: auto;
  max-height: 500px;
  border-radius: 5px;
  padding: 30px;
  font-size: 1.4em; }

#buttons-wrapper {
  position: relative; }

#start-broadcasting {
  position: absolute;
  z-index: 49;
  padding: 30px;
  margin-bottom: -30px;
  margin-left: 10%;
  width: 80%;
  top: 30px; }

#join-broadcast {
  position: absolute;
  z-index: 50;
  padding: 30px;
  margin-bottom: -30px;
  margin-top: 0;
  margin-left: 10%;
  width: 80%;
  top: 30px;
  display: none; }

#rooms-list {
  position: absolute;
  top: 0;
  z-index: 50; }

#videochat-wrapper {
  position: relative;
  padding-bottom: 75%; }

#videos-container-wrapper {
  position: absolute;
  top: 0;
  /*padding-bottom: 75%;*/
  width: 100%; }

#videos-container {
  position: relative;
  padding-bottom: 75%; }
  #videos-container video:nth-child(1) {
    width: 100%;
    position: absolute;
    z-index: 51; }
  #videos-container video:nth-child(2) {
    width: 30%;
    position: absolute;
    z-index: 52;
    left: 0;
    bottom: 1px; }

.users {
  float: right;
  margin-right: 50px;
  border: 3px solid black;
  margin-top: 18px;
  width: 300px;
  height: 530px; }

.users h3 {
  text-align: center;
  font-size: 20px; }

.users li {
  font-size: 20px;
  border: none; }

.messages {
  width: 1000px;
  margin: 1em;
  border: 5px solid black;
  padding: 1em;
  margin-left: 80px;
  height: 500px;
  overflow: scroll;
  background-color: #F0F8FF; }

.messages h2 {
  margin-top: -5px;
  font-size: 30px; }

.message_form,
.change_name_form {
  padding: 1em;
  margin-left: 70px; }

.message {
  font-size: 20px; }

/*.message_form {
  margin-top: 10px;
}*/
.change_name_form {
  margin-top: -30px; }

.message_form input {
  font-size: 20px;
  width: 1025px;
  height: 40px;
  border: 3px solid black; }

.message_form h3 {
  font-size: 25px; }

.change_name_form input {
  font-size: 20px;
  height: 40px;
  border: 3px solid black; }

.change_name_form h3 {
  font-size: 25px; }

main {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  z-index: 1; }

#language-message {
  z-index: 100; }

.ReactModal__Content--after-open {
  z-index: 99; }

.ReactModal__Content {
  height: 500px; }

.ReactModal__Overlay {
  z-index: 1; }

.ReactModal__Overlay {
  z-index: 1; }

/***************** end of LanguageMessage modal styling *****************

/**************************************************Drop down menu start*****/
/*.dropdown {
    position: absolute;
    margin-left: -130px;
    margin-top: 40px;
    width: 500px;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

#dropDown-title {
  font-size: 25px;
  color: black;
  border: 3px solid black;
  background-color: lightGrey;
}

#dropDown-title {
    text-decoration: none;
    position: absolute;
    font-size: 30px;
    color: black;
    border: 3px solid black;
    background-color: lightGrey;
    width: 350px;
    margin-left: -30px;
    height: 50px;
    width: 380px;
    padding-top: 15px;
}

#dropDown-content ul {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  position: absolute;
  margin-left: 300px;
  margin-top: 50px;
}

#dropDown-content ul li {
  border: 1px solid black;
  width: 380px;
  margin-left: -120px;
}

#dropDown-content ul li a{
  color: black;
  cursor: pointer;
}

#dropDown-content ul li a:hover {
  text-decoration: none;
  color: blue;
}

#dropDown-content ul li:hover {
  color: blue;
  cursor: pointer;
}*/
/************************** start fo Speech recognition **************************/
a:link {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000; }

a:hover {
  color: #33F; }

.button {
  background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal; }

.center {
  padding: 10px;
  text-align: center; }

.final {
  color: black;
  padding-right: 3px; }

.interim {
  color: gray; }

.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none; }

.right {
  float: right; }

.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top; }

#headline {
  font-size: 40px;
  font-weight: 300; }

#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden; }

#results {
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  min-height: 100px;
  margin-bottom: 20px;
  border-radius: 5px; }

#start_button {
  border: 0;
  background-color: transparent;
  padding: 25px 15px; }

/************************* start of Speech recognition *************************

/************************** start of Instruction Message **************************/
.swal-div {
  color: black; }

#instruction-submit-button:hover {
  background-color: white; }

/**************************  of Instruction Message **************************/
.countryTransition-appear {
  opacity: 0.01; }

.countryTransition-appear.countryTransition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.countryTransitionMsg {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: 99; }
