// ***************** start of <nav> and <html> styling *****************
html {
  box-sizing: border-box;
  background-color: lightblue;
}

nav {
  width: 100%;
  height: 10vh;
  text-align: center;
}

#title {
  font-size: 7vh;
  display: inline;
}

.navbar-btn {
  float: right;
  margin-top: 3vh;
}
// ***************** end of <nav> and <html> styling *****************

// ***************** Start of map styling *****************
#map {
  position:absolute;
  top: 10vh;
  left: 0;
  right: 0;
  bottom:0;
  width:100%;
  z-index: 1;
}

/*#mapid { height: 100px; }*/

#country-buttons {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  z-index: 99;
}

#fit-america {
  display: inline-block;
  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: purple;
}

#fit-spain {
  display: block;

  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

#fit-china {
  display: block;

  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #FF4500;
}

#fit-france {
  display: block;

  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: blue;
}

#fit-korea {
  display: block;

  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: red;
}

#zoomout {
  display: block;

  /*margin: 0px auto;*/
  width: 10vw;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: grey;
}

// ***************** end of map styling *****************


// ***************** start of chat box (socket) styling *****************

#chatbox-body {
  width: 1500px;
  height: 900px;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 2%;
  // margin-top: 80px;
  position: absolute;
  z-index: 99;
  background-color: white;
}

.users {
  float : right;
  margin-right: 50px;
  border: 3px solid black;
  margin-top: 18px;
  width: 300px;
  height: 530px;
}

.users h3 {
  text-align: center;
  font-size: 20px;
}

.users li {
  font-size: 20px;
  border: none;
}

.messages {
  width: 1000px;
  margin: 1em;
  border : 5px solid black;
  padding: 1em;
  margin-left: 80px;
  height: 500px;
  overflow: scroll;
  background-color: #F0F8FF;
}

.messages h2 {
  margin-top: -5px;
  font-size: 30px;
}

.message_form,
.change_name_form{
  padding: 1em;
  margin-left: 70px;
}

.message {
  font-size: 20px;
}

/*.message_form {
  margin-top: 10px;
}*/

.change_name_form {
  margin-top: -30px;
}

.message_form input {
  font-size: 20px;
  width: 1025px;
  height: 40px;
  border: 3px solid black;
}

.message_form h3 {
  font-size: 25px;
}

.change_name_form input {
  font-size: 20px;
  height: 40px;
  border: 3px solid black;
}

.change_name_form h3 {
  font-size: 25px;
}

// ***************** end of cat box (socket) styling *****************

// ***************** end of LanguageMessage modal styling *****************

main {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  // background-color: lightgray;
  z-index: 1;
}

// ***************** start of main styling *****************

// ***************** start of LanguageMessage modal styling *****************

#language-message {
  // position: absolute;
  // top: 50vh;
  // left: 50vw;
  // right: 0;
  // bottom:0;
  z-index: 100;
}
.ReactModal__Content--after-open {
  z-index: 99;
}

.ReactModal__Overlay {
  z-index: 1;
}

.ReactModal__Overlay {
  z-index: 1;
}
// ***************** end of main styling *****************


/**************************************************Temporary CSS*/
/*            audio, video {
                -moz-transition: all 1s ease;
                -ms-transition: all 1s ease;

                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
                vertical-align: top;
            }
*/
            input {
                border: 1px solid #d9d9d9;
                border-radius: 1px;
                font-size: 2em;
                margin: .2em;
                width: 30%;
            }

            .setup {
/*                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 102%;
                height: 47px;
                margin-left: -9px;
                margin-top: 8px;
                position: absolute;*/
                float:right;
                margin: 20px;
            }

            p { padding: 1em; }

            li {
                border-bottom: 1px solid rgb(189, 189, 189);
                border-left: 1px solid rgb(189, 189, 189);
                padding: .5em;
            }

            .highlight { color: rgb(0, 8, 189); }

            #start_button {
            	display: block !important;
            	margin: 20px auto;
            	background: white;
            	border: 1px solid red;
            }

            #videos-container {
	    	    position: relative;
            }

            #videos-container video:first-child {
            	width: 100%;
            }

            #videos-container video:nth-child(2) {
            	width: 200px;
            	position: absolute;
            	right: 0;
            	bottom: 0;
            }

            #share-link {
            	line-height: 3em;
            	margin-left: 20px;
            }

            #results {
            	margin: 20px;
            }

/**************************************************Temporary CSS End*/
